# Xcode & Swift
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods (if you use them later)
Pods/
Podfile.lock

# Carthage (if you use it later)
Carthage/Build/

# Fastlane (optional automation)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Archives
*.xcarchive

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Temporary files
*.swp
*.swo
*.tmp

# Ignore local docs/output not meant for repo
captures/
docs/_drafts/
